@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}

body {
  background-image: url('./assets/background.jpg');
  background-repeat: repeat-y;
  background-position: center top;
  background-size: auto;
  width: 100%;
  overflow-x: hidden;
}

body::after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: inherit;
  background-attachment: scroll;
  pointer-events: none;
  z-index: -1;
}

/* For extra large screens */
@media screen and (min-width: 2000px) {

  body {
    background-color: #487183; /* Adjust this color to match your background */
  }
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}